
#loading {
    padding: 20px;
    text-align: center;
}

#loading p {
    color: #666666;
    font-size: 10px;
    margin-top: 5px;
}

#ending {
    padding: 20px;
    text-align: center;
}

#content {
    padding: 100px 0;
}

#login-info {
    float: right;
}

.navbar .brand {
    margin-left: 20px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.footer .container {
    margin-bottom: 20px;
}

.footer .container p {
    text-align: center;
    color: #666666;
    font-size: 10px;
}

.thumbnail {
    margin-bottom: 20px;
    background-color: #ffffff;
}

.thumbnail p {
    margin: 10px 10px;
}

.more {
    text-align: right;
}

.more-section {
    margin-left: 60px;
}

.more-section a {
    color: #AAAAAA;
    font-weight: normal;
    font-size: 8px;
    text-decoration: none;
}

.top {
    text-align: right;
}
