
#loading {
    padding: 20px;
    text-align: center;
}

#loading p {
    color: #666666;
    font-size: 10px;
    margin-top: 5px;
}

#ending {
    padding: 20px;
    text-align: center;
}

#content {
    padding: 50px 0;
}

#login-info {
}

.navbar .brand {
    margin-left: 20px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.footer .container {
    margin-bottom: 20px;
}

.footer .container p {
    text-align: center;
    color: #666666;
    font-size: 10px;
}

.thumbnail {
    margin-bottom: 20px;
    background-color: #ffffff;
}

.thumbnail p {
    margin: 10px 10px;
}

.thumbnail .label {
    margin-right: 5px;
}

.more {
    text-align: right;
}

.more-section {
    margin-left: 60px;
}

.more-section a {
    color: #aaaaaa;
    font-weight: normal;
    text-decoration: none;
}

.top {
    text-align: right;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.invisible {
    display: none;
    visibility: hidden;
}

.modal-body {
    max-height: 400px;
}

.sub-list li {
    margin-left: 40px;
}
