<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
">
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="authenticationService" class="cn.edu.seu.herald.crawler.service.impl.AuthenticationServiceImpl">
    </bean>
    <bean id="entryBlockService" class="cn.edu.seu.herald.crawler.service.impl.EntryBlockServiceImpl">
    </bean>
    <bean id="sectionLinkService" class="cn.edu.seu.herald.crawler.service.impl.SectionLinkServiceImpl">
    </bean>

    <bean class="cn.edu.seu.herald.crawler.controller.HomePageController">
        <constructor-arg ref="sectionLinkService" />
    </bean>
    <bean class="cn.edu.seu.herald.crawler.controller.AuthenticationController">
        <constructor-arg ref="authenticationService" />
    </bean>
    <bean class="cn.edu.seu.herald.crawler.controller.EntryBlocksController">
        <constructor-arg ref="entryBlockService" />
    </bean>
</beans>
